body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.container {
    width: 375px;
    background-color: #E5E5E5;
}

.top {
    width: 100%;
    max-width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.top img {
    height: 53px;
}

.top ion-icon {
    font-size: 32px;
}

.bottom {
    width: 100%;
    max-width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;    
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
}

.msgs_scroll {
    margin: 100px 0 80px 0;
    height: 100%;
    max-width: 375px;
    background-color: #E5E5E5;
    
}

.msg {
    width: 100%;
    max-width: 375px;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    padding: 8px;
    background-color: #ffffff;
    margin: 2px 0;
    word-wrap: break-word;
}

.msg_private_message {
    background-color: #FFDEDE;
}

.msg_status {
    background-color: #DCDCDC;
}

.msg span {
    font-weight: 700;
}

.msg time {
    color: #AAAAAA;
}

.bottom input {
    width: 300px;
    height: 32px;
    border: 0px;
}

.bottom ion-icon {
    font-size: 24px;
}

button {
    border: 0px;
    background-color: #ffffff;
    cursor: pointer;
}

.bottom ::placeholder {
    font-style: italic;
    font-size: 14px;
}

.entrada {
    height: 100%;
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-image: url(/arq/fundobranco.jpg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.entrada img {
    height: 92px;
    width: 130px;
    margin: 75px 0;    
    
}

.entrada input {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #AEAEAE;
    margin: 15px;
    width: 260px;
    height: 54px;
}

.entrada button {
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #696969;

}

.participants {
    width: 100%;
    height: 100%;
    max-width: 375px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;    
    transition: all 2s;
    justify-content: right;
}

.bg {
    width: 125px;
    height: 100%;    
    background-color: black;
    opacity: .4;
    z-index: 2;
}

.pList {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;    
    opacity: 1;
    z-index: 2;    
    transition: all 2s;
}

.escolha {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;    
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px;
    text-align: center;
}

.participant {
    height: 200px;
    width: 194px;
    overflow-y: scroll;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.privacidade {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    width: 200px;
}

.privacidade div {
    margin-bottom: 8px;
}

.pOn {
    margin-top: 8px;
}

.hidden {
    display: none;
}

.sizeAdjust {
    width: 0;
}

.selected {
    border: 1px solid rgb(57, 208, 57);
}

.enviando {
    font-weight: 400;
    font-size: 12px;
    color: gray;
}